<!DOCTYPE html>
<html>
<head>
  <title>CardGame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "framgia_cg_tbt" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "jquery.rotate" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
